# -------------------------------------------------
# Large raster data (optional – keep if <100 MB)
# -------------------------------------------------
data
output

# -------------------------------------------------
# Ignore secrets.py
# -------------------------------------------------
secrets.py

# -------------------------------------------------
# Cache
# -------------------------------------------------

__pycache__